<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Group Chat App</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
		<script src="jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready(function (){
				var socket = io.connect();
				$("#new_message_form").submit(function (){
					socket.emit("message_submitted", {message_content: $("#new_message").val()});
				});
				socket.on("new_chat", function (data){
					console.log(data.content.message_content);
					$("#chat_window").append("<p>HI!!!</p>");
				});
			});
		</script>
	</head>
	<body>
		<h2>Welcome to the Chat Room</h2>
		<div id="chat_div">
			<div id="chat_window">
				<p>Hi</p>
			</div>
			<form action="" method="post" id="new_message_form">
				<input type="text" name="new_message" id="new_message" placeholder="Type your message here...">
				<input type="submit" value="Send">
			</form>
		</div>
	</body>
</html>